@font-face {
    font-family: 'MesseUnivers-Regular';
    src: url('../fonts/MesseUnivers-Regular.otf');
}

@font-face {
    font-family: 'MesseUnivers-Bold';
    src: url('../fonts/MesseUnivers-Bold.otf');
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

body, p {
    font-family: "Roboto", sans-serif;
    font-size: 16.5px;
}

.row-rc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide-sub-title {
    font-family: 'MesseUnivers-Regular';
}

.partners-ticker {
    padding: 30px 0;
}

.partners-ticker .sponsor-details {
    padding: 14px;
}

.marquee img {
    width: 160px !important;
    margin: 0 1.2rem;
}

.sticky-icon {
    z-index: 1;
    position: fixed;
    top: 25%;
    right: 0%;
    width: 220px;
    display: flex;
    flex-direction: column;
}

.sticky-icon a {
    transform: translate(160px, 0px);
    border-radius: 0px 0px 0px 0px;
    text-align: left;
    margin: 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    transition: all 0.8s;
}

.sticky-icon a:hover {
    color: #FFF;
    transform: translate(0px, 0px);
}

.sticky-icon a:hover i {
    transform: rotate(360deg);
}

/*.search_icon a:hover i  {
	transform:rotate(360deg);}*/
.Facebook {
    background-color: #1877F2;
    color: #FFF;
}

.Twitter {
    background-color: #1DA1F2;
    color: #FFF;
}

.linkedin {
    background-color: #0077B5;
    color: #FFF;
}

.sticky-icon a i {
    background-color: #FFF;
    height: 40px;
    width: 40px;
    color: #000;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.5s;
}

.sticky-icon a i.fa-facebook-f {
    background-color: #FFF;
    color: #1877F2;
}


.sticky-icon a i.fa-linkedin {
    background-color: #FFF;
    color: #0077B5;
}


.sticky-icon a i.fa-twitter {
    background-color: #FFF;
    color: #1DA1F2;
}

.ts-intro-area p {
    font-size: 16.5px;
    line-height: 28px;
}

blockquote {
    border: none;
} 

.m-quote {
    margin: 0px;
    font-size: 24px;
    color: #8D8F95;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-style: normal;
}

.m-quote__footer-content {
    margin: 0px;
    font-size: 12px;
    color: #8D8F95;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: normal;
    font-style: normal;
}

.head-slider {
    overflow: hidden;
    position: relative; 
    width: 100%;
    height: 80dvh;
    background-size: cover;
    background-image: url(../images/texture-bg.jpg);
    background-position: center;
}
.slider-content {
    position: absolute;
    z-index: 1;
    /* top: 100px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* gap: 100px; */
}
.slider-content h1 {
    color: #217DA0;
    font-size: 48px;
    font-family: 'MesseUnivers-Bold';
}
.slider-content .sub-title {
    margin: 0px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.sub-title h4 {
    font-family: 'MesseUnivers-Regular';
    font-size: 18px;
}
.slider-content .digitalized {
    color: #D2232A;
}
.slider-content .self-reliant {
    color: #41AD49;
}
.slider-content .new-business {
    color: #1F5F7C;
}
.event-logo img {
    width: 170px;
}
.event-dates-venue {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}
.event-dates-venue .dates {
    font-size: 36px;
    font-family: 'MesseUnivers-Bold';
    color: #DF3B26;
}
.event-dates-venue .venue {
    font-family: 'MesseUnivers-Regular';
    color: #383F43;
    font-size: 24px;
}
.event-details {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.event-cta {
    display: flex;
    gap: 18px;
}
.kv {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    background-image: url(../images/IRS-2026-KV.webp);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right center;
}
.bottom-art {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -21px;
    background-image: url('../images/refinery-sil-art.jpg');
    background-repeat: repeat-x;
    background-size: 28%;
    background-position: center bottom;
}
.bottom-art img {
    width: 100%;
}
.conference-participation-banner {
    width: 100%;
}

/* Advisory Board */
.advisory-board .person-details {
    padding: 4px 0px 4px 16px;
}
.advisory-board .person-photo {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 0px 40px 0px 40px;
    background-color: rgba(225, 71, 51, .5);
}
.advisory-board .person-photo img {
    width: 100%;
    filter: saturate(0);
}
.wrap-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 0px;
    justify-content: flex-start;
}
.advisory-board h3 {
    margin: 12px 0px 6px;
    color: #50555F;
    font-size: 18px;
    font-family: 'MesseUnivers-Bold';
}
.advisory-board h5 {
    margin: 0px;
    color: #8D8F95;
    font-size: 16px;
    font-family: 'MesseUnivers-Regular';
}

/* Mobile Device */
@media (max-width : 479px) {
    .head-slider {
        height: 100dvh;
    }
    .slider-content {
        top: 8rem;
        gap: 0px;
        justify-content: space-between;
    }
    .event-logo img {
        width: 140px;
    }
    .slider-content h1 {
        font-size: 3.2em;
    }
    .sub-title h4 {
        font-size: 12px;
    }
    .event-dates-venue {
        gap: 12px;
    }
    .event-dates-venue .dates {
        font-size: 28px;
    }
    .slider-content .sub-title {
        margin: 0px;
    }
    .event-details {
        position: absolute;
        bottom: 16dvh;
        gap: 0px;
    }
    .kv {
        width: 99%;
        height: 85%;
        right: -8px;
        top: 0;
        background-size: 100%;
    }
    .bottom-art {
        background-size: 70%;
        bottom: -30px;
    }
    .event-cta {
        display: none;
    }
    /* .advisory-board .person-photo img {
        height: 180px;
    } */
}

/* Tablet Device */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    .kv {
        background-size: 70%;
        bottom: 0px;
        height: 60%;
    }
    .bottom-art {
        background-size: 45%;
    }
    .head-slider {
        height: 90dvh;
    }
    .slider-content {
        top: 16rem;
        gap: 16px;
    }
    .event-dates-venue {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
}