:root{
  --bg: #f9fafb;                          /* off-white background */
  --muted: #6b7280;                       /* gray-500 */
  --text: #111827;
  --primary-light: #EB8D6A;               /* primary color --light */
  --primary: #ea531c;                     /* primary color */
  --primary-strong: #EB2F1C;              /* primary color --strong */
  --accent: #117ca2;                      /* emerald */
  --ring: rgba(14,165,233,.35);
  --border: #e5e7eb;                      /* gray-200 */
  --shadow: 0 6px 16px rgba(0,0,0,.08);
  --radius: 12px;
}

@font-face {
  font-family: 'MesseUnivers-Regular';
  src: url("../fonts/MesseUnivers-Regular.otf");
}

@font-face {
  font-family: 'MesseUnivers-Light';
  src: url("../fonts/MesseUnivers-Light.otf");
}

@font-face {
  font-family: 'MesseUnivers-Bold';
  src: url("../fonts/MesseUnivers-Bold.otf");
}